body {
/*  background-color:#C1EEEE;
*/
  background-image: url("images/mountain.jpg");
  background-size: cover;
  font-family:'Arvo', serif;
  font-size: 15px;
  font-weight: lighter;
  color:black;
  line-height:20px;
}

h1 {
  margin-top: 20px;
}

.profilepic {
  border-radius: 5px;
  width: 250px;
  height: 250px;
}

.whistler {
  width: 150px;
  height: 120px;
  margin-right: 10px;
}

.dog {
  width: 130px;
  height: 120px;
  margin-right: 10px;

}

.bali {
  width: 150px;
  height: 120px;
}

/* removes bullet points from social icons & makes them horizontal */
.social_icons {
list-style-type: none;
display: inline-block;
}

.social_icons a {
color:#a2c0ea;
padding-right: 33px;
font-size: 30px;
}

.social_icons a:hover {
  color:#619AEA;
}

.card {
  text-align: center;
  background:#f4d5d3;
  border:2px dotted;
  border-color: #a2c0ea;
  margin: 10px;
  padding: 20px 10px;
  border-radius:5px;
  box-shadow:2px 2px 5px #a2c0ea;
}

.bio {
text-align: justify;
}

.container {
  width: 650px;
  margin: 0 auto;
}

 /* For a screen < 960px, this CSS will be read */
@media (max-width: 960px) {
  .container {
    width: 600px;
  }
}

  /* For a screen < 720px, this CSS will be read */
@media (max-width: 720px) {
  .container {
    width: 400px;
  }
}
  /* For a screen < 540px, this CSS will be read */
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

button {
  background-color: #a2c0ea;
  box-shadow: 2px 2px grey;
  border: grey;
  color: white;
}

button:hover {
background-color:#619AEA;
}

.follow_me {
color:#577EC3;
}



